# VS Code
.vscode/

# Operating system
Thumbs.db
.DS_Store

# Node dependencies
node_modules/

# Firebase local files
.firebase/
# Firebase debug logs
firebase-debug.log
firebase-debug.*.log

# Environment/secrets
.env
.env.*
!.env.example

# Firebase debug logs
firebase-debug.log
firebase-debug.*.log
